* {
  box-sizing: border-box;
}

html {
  background-color: #fafafa;
  --couleur-fond: #fff;
  --couleur-texte: #000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--couleur-texte);
  max-width: 768px;
  margin: auto;
  min-height: 100vh;
  overflow-wrap: break-word;
}

body > * {
  padding: 1ex;
  background-color: var(--couleur-fond);
  border: 1px solid #dbdbdb;
  margin: 1em 0;
}

.topnav {
  position: sticky;
  top: 0;
  z-index: 1;
  background: inherit;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1ex;
}

button,
input[type="submit"],
a {
  color: #0095f6;
}

button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
a:focus,
a:hover {
  opacity: 0.7;
}

button,
input[type="submit"] {
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  font-weight: 600;
}

a:focus,
a:hover {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
}
